
body{
  background-color: rgb(144, 138, 138);
  background-image: url('../img/pexels-2green-3624629-5423256.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
  
}
